{% extends "layout.html" %}

{% block title %}
Design
{% endblock %}

{% block main %}
<div class="back-container">
    <h1>Design</h1>
    <p>Select a filter to display</p>
    <div class="container text-center custom-container">
        <h2>Features</h2>
        <div class="row">
            <div class="col">Design complex training programs.</div>
            <div class="container text-center">
                <a href="" class="btn btn-secondary">Design Program</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}