{% extends "layout.html" %}

{% block title %}
Display
{% endblock %}

{% block main %}
<div>
    <h1>Display</h1>
    <p>Select an filter to display</p>
    <div class="container text-center">
        <h2>Features</h2>
        <div class="row">
            <div class="col">Perform queries on logged performance & display training data.</div>
            <div class="container text-center">
                <a href="" class="btn btn-secondary">Display</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}