{% extends "layout.html" %}

{% block title %}
Display
{% endblock %}

{% block main %}
<div class="back-container">
    <h2>Select an filter to display</h2>
    <div class="container text-center custom-container">
        <h2>Features</h2>
        <div class="row">
            <div class="col">Perform queries on logged performance & display training data.</div>
            <div class="container text-center">
                <a href="" class="btn btn-secondary">Display</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}