{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div>
    <h1>Welcome to TYTAN's Fine Fitness for TYTAN!!!!</h1>
    <p>An intuitive exercise logger for planning and deploying training blocks.</p>
    <div class="container text-center">
        <h2>Features</h2>
        <div class="row">
            <div class="col">Easily create complex training blocks.</div>
            <div class="col">Database programs & logged performance.</div>
            <div class="col">Perform queries & display training data.</div>
        </div>
    </div>
</div>
{% endblock %}