{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="back-container">
    <h3>Welcome to Fine Fitness</h3>
    <p>An intuitive web application exercise logger for logging sessions, planning & designing training.
        blocks.</p>
    <div class="text-center">
        <h4>Features</h4>
        <div class="row">
            <p>Create Training sessions.</p>
            <a href="/create" class="btn btn-secondary">Create</a>
        </div>
        <div class="row">
            <p>Graph volumes, reps achieved & exercise stats.</p>
            <a href="/display" class="btn btn-secondary">Display</a>
        </div>
        <div class="row">
            <p>Design programs & meso-cycles.</p>
            <a href="/design" class="btn btn-secondary">Design</a>
        </div>
    </div>
</div>
{% endblock %}